# Don't put *.swp, *.bak, etc here; those belong in a global ~/.gitignore.
# Check out http://help.github.com/ignore-files/ for how to set that up.

.bundle
db/*.sqlite3*
log/*.log
*.log
tmp/**/*
tmp/*
*.swp
*~
.DS_Store
